:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* --background-color: #b9baa3;
  --text-color: #0a100d;
  --accent-color: #a22c29;
  --alternative-color: #d6d5c9;
  --black: #000000;
  --white: #ffffff; */

  --background-color: #0a100d;
  --text-color: #dee2e6;
  --accent-color: #ced4da;
  --alternative-color: #212529;
  --black: #000000;
  --white: #ffffff;
}
